.listPrice--list-price,
.sellingPrice--selling-price {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.listPriceValue--list-price {
	color: #b2b2b2;
	font-size: 1rem;
}

.sellingPriceValue--selling-price {
	color: #003087;
	font-size: 1.3rem;
	font-weight: 500;
}

.installments {
	color: #525252;
	font-size: 0.75rem;
	text-transform: lowercase;
	margin-bottom: 1rem;
}

.installmentsNumber--installments,
.installmentValue--installments {
	font-weight: 500;
}

.listPrice--list-price {
	margin-bottom: 0;
}

.savingsPercentage--product-price-savings {
	background-color: #da2128;
	border-radius: 1rem;
	padding: 0.25rem 0.5rem;
	color: white;
	font-size: 0.875rem;
}

.savings--product-price-savings {
	display: flex;
	justify-content: center;
	align-items: center;
}
