.paginationDotsContainer {
	bottom: -1.5rem;
	gap: 0.5rem;
	display: flex;
	align-items: center;
}

.paginationDotsContainer--carousel-banner {
	left: 1.5rem;
	justify-content: flex-start !important;
}

.sliderArrows {
	padding: 0 !important;
	margin: 0 !important;
	background-color: white !important;
	border-radius: 100% !important;
	width: 2.5rem !important;
	height: 2.5rem !important;
}

.sliderLeftArrow {
	left: 1rem !important;
}

.sliderRightArrow {
	right: 1rem !important;
}

.paginationDot {
	background-color: #b2b2b2;
	height: 0.5rem !important;
	width: 0.5rem !important;
	padding: 0;
	margin: 0;
	border-radius: 100%;
}

.paginationDot--isActive {
	background-color: #003087;
	height: 0.625rem !important;
	width: 0.625rem !important;
}

.paginationDotsContainer--carousel-banner {
	bottom: 1.5rem;
}

.paginationDot--carousel-banner {
	background-color: rgba(0, 0, 0, 0.5) !important;
	height: 0.125rem !important;
	width: 2rem !important;
	padding: 0;
	margin: 0;
	border-radius: 0;
}

.paginationDot--carousel-banner--isActive {
	background-color: white !important;
}

.sliderTrack--slider-banner,
.sliderTrack--shelf,
.sliderTrack--half-banner {
	gap: 1rem;
}

@media (min-width: 1024px) {
	.paginationDotsContainer--carousel-banner {
		left: 0 !important;
		justify-content: center !important;
	}

	.paginationDot--carousel-banner {
		width: 4rem !important;
	}

	.paginationDot--carousel-banner--isActive {
		background-color: white !important;
	}
}
