.menuContainer--top-header-menu {
	gap: 1rem;
}

.styledLinkContainer--top-header-menu,
.styledLinkContainer--header-menu {
	margin-right: 0;
	margin-left: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.styledLinkContainer--pedido-menu {
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	padding-top: 0;
	padding-bottom: 0;
}

.styledLinkIcon--pedido-menu {
	display: inline-flex;
}

.menuContainer--header-menu {
	display: flex;
	gap: 1rem;
}

.styledLinkContent--top-header-menu {
	font-size: 0.75rem;
}

.styledLinkContent--header-menu {
	font-size: 0.875rem;
	font-weight: 400;
	display: flex;
	align-items: center;
	gap: 0.3rem;
}

.styledLinkIcon--offer-menu {
	display: inline-flex;
}

.styledLink--offer-menu--highlight .styledLinkContent--offer-menu {
	font-weight: 600;
}
